body {
  background-color: rgba(128, 128, 128, 0.352);
}
.profile {
  width: 214px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}
.description {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.avatar {
  align-items: center;
  width: 96px;
  height: 96px;
}
/* .name {
}
.tag {
} */
/* .location {
} */
.stats {
  font-size: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.168);

  background-color: white;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  border: 1px solid rgba(0, 0, 0, 0.176);
}
/* .quantity {
} */
