.friend_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  display: flex;
  width: 120px;
  padding: 10px 10px;
  background-color: rgb(204, 193, 230);
  align-items: center;
  box-shadow: 5px 4px 5px -3px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status_online {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status_offline {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
}
