.statistics {
  padding-top: 15px;
  padding-bottom: 15px;
}
.title {
  margin-top: 30px;
  text-align: center;
}
.stat_list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto;
}
.item {
  width: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.label {
  align-items: center;
  justify-content: center;
}
